.planet {
  display: grid;
  grid-template-areas: "image intro" "image btn" "info info";
  grid-template-columns: 2.2fr 1fr;
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .planet {
    grid-template-columns: 1fr;
    grid-template-areas: "btn" "image" "intro" "info";
  }
}
